.background {
  background-color: black;
  color: azure;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.header {
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 70vh;
  width: 100vw;
  padding-bottom: 6%;
}

.toptext {
  font-size: 3rem;
}

.content {
  color: azure;
  font-size: 1.5rem;
}
